@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

// componentes internos
.categoria {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 0px;
  padding: 5px;
  cursor: pointer;

  transition: 200ms ease-in-out;
  width: 100%;

  &:first-child {
    background-color: $color_red;
    * {
      color: $color_font_white;
    }
  }

  * {
    margin: 0;
  }

  .icon {
    color: $color_font_black;
    transform: translateY(2px);
  }

  span {
    color: $color_font_black;
    font-size: 14px;
  }

  &:hover {
    background-color: $color_font_red;

    * {
      color: $color_font_white;
    }
  }
}

// componentes internos
#mainMenuPage {
  padding: 10px;

  .categorias {
    display: flex;
    justify-content: stretch;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid $color_font_black;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }

  .containerProdutos {
    .produtos {
      display: grid;
      gap: 24px 16px;
      grid-template-columns: repeat(3, 1fr);

      @include bp_mobile() {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}
