@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.cardProduto {
  width: 100%;
  overflow: hidden;
  cursor: pointer;
    

  .divImg {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 10px;
    overflow: hidden;

    img {
      display: flex;
      width: 100%;
      object-fit: cover;
      margin: 0;
      padding: 0;
      width: 100%;
      aspect-ratio: 1/1;
      transition: 200ms ease-in-out;
    }
  }

  .nomeProduto {
    font-weight: 600;
    color: $color_font_black;
    margin-bottom: 4px;
  }

  .descricaoProduto {
    font-weight: 400;
    font-size: 12px;
    color: $color_font_black;
    opacity: 0.8;
    margin-bottom: 8px;
    line-height: 1rem;

    //TODO: Adicionar função de quando o tamanho ultrapassar duas linhas (...)
  }

  .divValorAndBotao {
    display: flex;
    justify-content: space-between;
    align-items: end;

    .valor {
      font-weight: 600;
      font-size: 16px;
      color: $color_font_black;
    }

    button {
      background-color: $color_red_3;
      padding: 8px 12px;
      font-weight: 600;
      color: $color_font_white;
      cursor: pointer;
    }
  }


  &:hover {
    img {
        scale: 1.1;
    }
  }
}
