@import "./variables.scss";
@import "./mixins.scss";

* {
  margin: 0;
  border: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;

  font-family: sans-serif;
}

.container {
  width: 100%;
  max-width: $bp_tablet;
  margin: 0 auto;
  

  @include bp_tablet {
    max-width: 100%;
    padding: 0;
  }

}

h2 {
  font-size: 40px;
  line-height: 130%;

  @include bp_tablet {
    font-size: 32px;
    line-height: 160%;
  }
}
