$color_white: #f7f6f3;
$color_red: #c53f3f;
$color_red_2: #c53f3f1e;
$color_red_3: #c53f3fde;
$color_black: #525252;
$color_yellow: #E5D54A;
$color_yellow2: #e5d54a50;

$color_font_white: $color_white;
$color_font_black: $color_black;
$color_font_red: $color_red;

//breakpoints 
$bp_mobile: 600px;
$bp_tablet: 900px;
$bp_desktop: 1200px;





