@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

// Componentes internos

// Componentes internos
h2 {
  color: $color_font_black;
  text-align: center;
}

.container, .content {
  
  position: relative;
}


.listaProdutos {
  display: grid; 
  grid-template-columns: 1fr 1fr;
  gap: 8px;

  @include bp_mobile {
    grid-template-columns: 1fr;
  }
}


.botoesETotal {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px 10px;
  width: 100%;
  max-width: $bp_tablet;
  text-align: center;
  background-color: white;
  border-radius: 24px 24px 0 0 ;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  

  .total {
    font-weight: 600;
    color: $color_black;
    margin-bottom: 8px;
    
  }

  .divBotoes {
    display: flex;
    justify-content: space-between;
    
    a {
      display: block;
      padding: 10px 20px;
      font-weight: 600;
      color: $color_font_black;
      font-size: 18px;
      border: 2px solid transparent;
      border-radius: 4px; 
    }

    .continuarCompra {
      border: 2px solid $color_font_black;
    }

    .finalizarCompra {
      background-color: $color_font_red;
      color: $color_font_white;
      
    }
  }
}